
Task 2/.vs/Task 2/v16/.suo
Task 2/.vs/Task 2/v16/Browse.VC.db
Task 2/.vs/Task 2/v16/Browse.VC.db-shm
Task 2/.vs/Task 2/v16/Browse.VC.db-wal
Task 2/.vs/Task 2/v16/Browse.VC.opendb
Task 2/.vs/Task 2/v16/ipch/AutoPCH/6479d0852cb4daa2/ASSIGNMENT2.ipch
Task 2/.vs/Task 2/v16/TestStore/0/000.testlog
Task 2/.vs/Task 2/v16/TestStore/0/testlog.manifest
Task 2/Debug/Task 2.exe
Task 2/Debug/Task 2.ilk
Task 2/Debug/Task 2.pdb
Task 2/Task 2/Debug/assignment2.obj
Task 2/Task 2/Debug/Task 2.exe.recipe
Task 2/Task 2/Debug/Task 2.log
Task 2/Task 2/Debug/Task 2.tlog/CL.command.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/CL.read.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/CL.write.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/link.command.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/link.read.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/link.write.1.tlog
Task 2/Task 2/Debug/Task 2.tlog/Task 2.lastbuildstate
Task 2/Task 2/Debug/vc142.idb
Task 2/Task 2/Debug/vc142.pdb
Task 2/.vs/Task 2/v16/.suo
Task 2/.vs/Task 2/v16/Browse.VC.db
Task 2/Debug/Task 2.exe
Task 2/Debug/Task 2.ilk
Task 2/Debug/Task 2.pdb
Task 2/Task 2/Debug/assignment2.obj
Task 2/Task 2/Debug/vc142.idb
Task 2/Task 2/Debug/vc142.pdb
